h3 {
  text-transform: uppercase;
  margin: 10px auto;
  width: 90vw;
}
h3 span {
  font-weight: 100;
}
#letras {
  margin: 20px auto;
  position: absolute;
  height: 300px;
  width: 100vw;
}
#letras .letra {
  position: absolute;
  z-index: 999;
}
form input {
  border: none;
  padding: 10px 20px;
}
form button {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
}
div.score {
  display: grid;
  margin: 20px auto;
  width: calc(100vw - 20px);
  grid-gap: 3px;
  max-width: 1200px;
  grid-template-columns: 1fr 2fr 1fr 1fr 6fr;
}
div.score.god {
  grid-template-columns: 1fr 2fr 1fr 1fr 6fr 5fr;
}
@media screen and (max-width: 649px) {
  div.score {
    grid-template-columns: 0.5fr minmax(auto, 120px) 1fr 1fr;
  }
  div.score.god {
    grid-template-columns: 0.5fr minmax(auto, 120px) 1fr 1fr;
  }
  div.score .header {
    display: none;
  }
  div.score .tempos,
  div.score .resp {
    grid-column: span 4;
  }
  div.score .pos p:before {
    content: '#';
  }
  div.score .atual p:before {
    content: 'Atual: ';
  }
}
div.score .header {
  background: none;
  color: white;
  align-self: end;
  text-transform: uppercase;
  font-weight: 900;
}
div.score .header.c2 {
  grid-column: span 2;
}
div.score div {
  background: #555;
  color: black;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
div.score div p {
  display: inline;
  margin: 0;
  align-self: center;
}
div.score img {
  width: 100%;
  align-self: center;
}
div.score .tempos {
  display: grid;
  grid-template-columns: minmax(0, 1.5fr) minmax(auto, 4fr);
}
div.score .tempos .label {
  text-align: right;
  justify-content: flex-end;
  background: black;
  color: white;
  padding: 0 10px;
  word-break: keep-all;
}
div.score .tempos .tempo {
  text-align: left;
  justify-content: flex-start;
  padding: 0 10px;
}
div.score .tempos div:nth-child(n+3) {
  border-top: solid 1px #111;
}
