h3 {
  margin: 20px 0 10px;
}
.pessoas {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.pessoa-container {
  display: inline-block;
}
.pessoa-container input[type=checkbox] {
  display: none;
}
.pessoa-container input[type=checkbox]:checked + .pessoa {
  background-color: #C70039;
}
.pessoa-container input[type=checkbox]:checked + .pessoa img {
  filter: grayscale();
}
.pessoa-container.winner input[type=checkbox]:checked + .pessoa {
  background-color: #04F87A;
}
.pessoa-container.winner input[type=checkbox]:checked + .pessoa img {
  filter: none !important;
}
.pessoa-container.winner input[type=checkbox]:not(:checked) + .pessoa img {
  filter: grayscale();
}
.pessoa {
  background-color: #fff;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
.pessoa p {
  margin: 5px 0 0 0;
  color: #000;
}
.pessoa img {
  width: 80px;
}
textarea {
  width: 90vw;
  height: 20vh;
}
button {
  display: block;
  border: none;
  background-color: #ccc;
  padding: 5px 10px !important;
  margin: 10px auto 30px;
  font-size: 1.4em;
  text-transform: uppercase;
}
button.mini {
  margin: 20px 8px;
  display: inline-block;
  font-size: 0.9em;
}
button.mini.red {
  background: darkred !important;
}
button.mini.green {
  background: darkgreen !important;
}
button.invert {
  background: #555;
  color: #fff;
}
.score.votos {
  display: grid;
  grid-gap: 3px;
  margin: 0 auto;
  width: calc(100vw - 20px);
  max-width: 1200px;
  grid-template-columns: repeat(2, minmax(20px, 120px)) minmax(100px, 1fr) minmax(100px, 2fr);
}
.score.votos img {
  display: block;
  width: 100%;
  align-self: center;
}
.score.votos div {
  background: #444;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.score.votos div p {
  margin: 0;
  align-self: center;
  padding: 10px;
}
.score.votos .header {
  font-weight: 900;
  text-transform: uppercase;
}
.score.votos .header p {
  padding: 0 10px;
}
@media screen and (max-width: 599px) {
  .score.votos .header {
    display: none;
  }
  .score.votos p {
    font-size: 0.8rem;
  }
}
.score.votos div:nth-child(-n+4) {
  background: none;
  border-top: none !important;
  margin-bottom: -3px;
}
.score.votos div:nth-child(4n+1) {
  border-top: solid 3px #191919;
}
.score.votos div:nth-child(4n+2) {
  padding: 5px;
  background: black;
}
.score.votos div:nth-child(2) {
  background: black;
}
.score.contagem {
  display: grid;
  grid-gap: 3px;
  margin: 0 auto;
  width: calc(100vw - 20px);
  max-width: 200px;
  grid-template-columns: minmax(20px, 120px) minmax(auto, 1fr);
}
.score.contagem img {
  display: block;
  width: 100%;
  align-self: center;
}
.score.contagem div {
  background: #444;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.score.contagem div p {
  margin: 0;
  align-self: center;
  padding: 10px;
}
.score.contagem .header {
  font-weight: 900;
  text-transform: uppercase;
}
.score.contagem .header p {
  padding: 0 10px;
}
@media screen and (max-width: 599px) {
  .score.contagem .header {
    display: none;
  }
  .score.contagem p {
    font-size: 0.8rem;
  }
}
.score.contagem div:nth-child(-n+2) {
  background: none;
  border-top: none !important;
  margin-bottom: -3px;
}
@media screen and (max-width: 599px) {
  .score.contagem .header {
    display: block;
  }
  .score.contagem p {
    font-size: 1rem;
  }
}
button.mini {
  background: black;
}
button.mini.invert {
  background: #444;
}
